/* Banner */

.banner {
  background-color: var(--color-main);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.banner a {
  color: var(--color-light);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.nav--links {
  padding: 1rem;
  text-decoration: none;
  color: var(--color-dark);
}

.nav--links:hover {
  color: var(--color-main);
}
