/* Banner */

.banner {
  background-color: var(--color-main);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.banner a {
  color: var(--color-light);
}

/* Navbar */
.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hours {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  padding: 1.3rem 1.8rem;
  text-decoration: none;
  color: var(--color-dark);
}

.nav-link:hover {
  color: var(--color-main);
}

.nav-link:active {
  color: var(--color-main);
}

.nav-links a:not(:last-child) {
  margin-right: 0.4rem;
}

.nav-help {
  display: flex;
  align-items: center;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

/* Hero */

.hero-content {
  background-color: var(--color-dark);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.253),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/goodeats-yqr-O0AsEdqEzPQ-unsplash.jpg);

  background-position: top;
  background-size: cover;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero-content--main {
  line-height: 1;
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-main--light);
}

/* Menu */

.menu-body {
  background-color: var(--color-gray);
}
.menu {
  margin-inline: auto;
  margin-top: 5rem;
}

.menu-header {
  text-align: center;
}

.menu-header--sub {
  color: var(--color-main);
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-light);
}

/* Order options */

.order-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.order-options--content:last-child {
  background-color: var(--color-main);
  color: var(--color-light);
}

.order-options--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 17rem;
}

.store {
  height: 12rem;
  background-image: url(../img/goodeats-yqr-O0AsEdqEzPQ-unsplash.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
