/* Banner */

.banner {
  background-color: var(--color-main);
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.banner a {
  color: var(--color-light);
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 5%;
  background-color: var(--color-main);
  color: var;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav--links {
  padding: 1rem;
  text-decoration: none;
  color: var(--color-dark);
}

.nav--links:hover {
  color: var(--color-main);
}

.hours {
  display: flex;
  align-items: center;
  justify-content: end;
}
