/* Header */

/* Navbar */

.logo--text {
  font-size: 1.414rem;
}

/* Hero */

.hero-content {
  background: url(../img/goodeats-yqr-O0AsEdqEzPQ-unsplash.jpg);
  background-position: top;
  background-size: cover;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero-content--main {
  line-height: 1;
}
