/* Header */

/* Navbar */

.logo--text {
  font-size: 1.414rem;
}

.spicy {
  color: var(--color-main);
}

.spicy::after {
  content: '🌶';
  font-family: FontAwesome;
}

.special-combination-platters {
  border: double 2px var(--color-main);
}
